stepfunctions-eventbridge-triggered.json
{
  "Comment": "Your6 Risk Assessment and Alert Routing Workflow",
  "StartAt": "EvaluateRisk",
  "States": {
    "EvaluateRisk": {
      "Type": "Choice",
      "Comment": "Evaluate risk scores from processed check-in",
      "Choices": [
        {
          "Variable": "$.detail.riskScore",
          "NumericGreaterThan": 95,
          "Next": "CrisisProtocol"
        },
        {
          "Variable": "$.detail.riskScore",
          "NumericGreaterThan": 85,
          "Next": "ImmediateIntervention"
        },
        {
          "Or": [
            {
              "Variable": "$.detail.sentimentScore",
              "NumericLessThan": -0.6
            },
            {
              "Variable": "$.detail.riskScore",
              "NumericGreaterThan": 50
            }
          ],
          "Next": "StandardAlert"
        },
        {
          "And": [
            {
              "Variable": "$.detail.trajectory",
              "StringEquals": "declining"
            },
            {
              "Variable": "$.detail.riskScore",
              "NumericGreaterThan": 30
            }
          ],
          "Next": "ProactiveOutreach"
        }
      ],
      "Default": "CheckinComplete"
    },
    "CrisisProtocol": {
      "Type": "Parallel",
      "Comment": "Execute crisis protocol with immediate multi-channel alerts",
      "ResultPath": "$.crisisResponse",
      "Branches": [
        {
          "StartAt": "AlertTrustedContact",
          "States": {
            "AlertTrustedContact": {
              "Type": "Task",
              "Resource": "arn:aws:states:::events:putEvents",
              "Parameters": {
                "Entries": [
                  {
                    "Source": "your6.checkin.crisis",
                    "DetailType": "Crisis Protocol Alert",
                    "Detail.$": "States.JsonToString($.detail)"
                  }
                ]
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "NotifyOperations",
          "States": {
            "NotifyOperations": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "arn:aws:sns:us-east-1:205930636302:Your6-OperationsAlerts",
                "Subject": "URGENT: Your6 Crisis Protocol Activated",
                "Message.$": "States.Format('Crisis protocol activated for user {} with risk score {}. Immediate intervention required.', $.detail.userId, $.detail.riskScore)"
              },
              "End": true
            }
          }
        }
      ],
      "Next": "LogCrisisIntervention"
    },
    "ImmediateIntervention": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "High-risk situation requiring immediate attention",
      "Parameters": {
        "Entries": [
          {
            "Source": "your6.checkin.highrisk",
            "DetailType": "Immediate Intervention Required",
            "Detail.$": "States.JsonToString($.detail)"
          }
        ]
      },
      "ResultPath": "$.alertResult",
      "Next": "CheckinComplete"
    },
    "StandardAlert": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "Standard alert for moderate risk or low sentiment",
      "Parameters": {
        "Entries": [
          {
            "Source": "your6.checkin",
            "DetailType": "Low Sentiment Alert",
            "Detail": {
              "userId.$": "$.detail.userId",
              "sentimentScore.$": "$.detail.sentimentScore",
              "riskScore.$": "$.detail.riskScore",
              "textPreview.$": "$.detail.textPreview",
              "alertType": "STANDARD"
            }
          }
        ]
      },
      "ResultPath": "$.alertResult",
      "Next": "CheckinComplete"
    },
    "ProactiveOutreach": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "Proactive intervention based on declining trajectory",
      "Parameters": {
        "Entries": [
          {
            "Source": "your6.checkin.proactive",
            "DetailType": "Proactive Outreach Recommended",
            "Detail.$": "States.JsonToString($.detail)"
          }
        ]
      },
      "ResultPath": "$.proactiveResult",
      "Next": "CheckinComplete"
    },
    "LogCrisisIntervention": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Comment": "Log crisis intervention to user record",
      "Parameters": {
        "TableName": "your6-users",
        "Key": {
          "userId": {
            "S.$": "$.detail.userId"
          }
        },
        "UpdateExpression": "SET lastCrisisIntervention = :timestamp, crisisInterventionCount = if_not_exists(crisisInterventionCount, :zero) + :one",
        "ExpressionAttributeValues": {
          ":timestamp": {
            "S.$": "$$.State.EnteredTime"
          },
          ":zero": {
            "N": "0"
          },
          ":one": {
            "N": "1"
          }
        }
      },
      "ResultPath": "$.logResult",
      "Next": "CheckinComplete"
    },
    "CheckinComplete": {
      "Type": "Pass",
      "Comment": "Risk assessment and alert routing complete",
      "Result": "Risk assessment complete",
      "Parameters": {
        "status": "success",
        "userId.$": "$.detail.userId",
        "riskScore.$": "$.detail.riskScore",
        "alertTriggered.$": "$.detail.alertTriggered",
        "processedAt.$": "$$.State.EnteredTime"
      },
      "End": true
    }
  }
}
